body {
  background-size:100%;
  background-color: black
 }

 form{
   margin-top: 40px;
 }
 form button, form id{
   margin:20px 0;
 }
 .project-summary{
   background-color: black
 }

.white{
  background-color: black
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materlize-textarea:focus:not([readonly]){
  border-color: rgb(104, 9, 25);
  box-shadow:none
}
button{
  background: rgb(136, 5, 125);
  border: rgb(0, 0, 0);
color:white
}

